.phantrang{
    background-color: #eaebed;
    line-height: 100px;
}

.the_loai{
    margin: 40px 0;
}

.name_chinh{
    border-bottom: #ccc solid 1px;
    padding-bottom: 10px;
}

.name_bl_con,
.name_tl_dm{
    margin: 10px 0;
}

.name_bl_con,
.name_tl_dm a{
    color: #b7c7d0;
    font-weight: 600;
}

.bl_con{
    margin: 10px 0;
    border-bottom: #ccc solid 1px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.muc_gia_bl_con{
    margin-left: 10px;
}

.san_pham_moi_dcb{
    display: flex;
    margin: 20px 0;
}

.tt_img_sp{
    font-size: 13px;
}

.gia_tt_img_sp{
    color: red;
}
/* ------------------------phan_chia-------------------- */
.phan_chia{

}

.cac_loai_loc_sap_xep{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;
}

.sxb{
    margin: 5px 10px 0 0;
}

.name_input_clksx{
    display: flex;
}

.o_loc_sap_xep{
    margin: 40px 0 20px 0;
    padding: 10px 0;
    border: 1px solid rgb(234, 234, 234);
}

.mau_icon_sap_xep{
    display: flex;
}

.icon_sx{
    padding: 5px 10px;  
    margin: 0 5px;
    border: 1px #999999 solid;
}

.sp_loc_ra{
    margin: 20px 0;
}
/* ----------------------------------------------------- */

@media screen and (max-width:768px) {
    .anh_trang_tri_cuoi{
        display: none;
    }
}